:root {
    --orange:#E27A3F;
    --dark-blue: #1B2530; 
    --very-dark-blue: #151D26;
    --dark-grey: #4D4D4D;
    --medium-grey: #999999;
    --light-grey: #F2F2F2; 
    --invalid-red: #DF4949;
  }
  
body{
   font-family: 'Open Sans', sans-serif;
   background-color: var(--very-dark-blue);
}

main{
  margin:0em 10em 0em;
}
@media screen and (max-width: 900px) {
  main{
    margin:0em 2em 0em;
  }
}

div.header{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 40vh;
  margin-top: 10em;
  margin-bottom: 8em;
}
main.year div.header{
  transition: all 0.5s ease;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: 6vh;
  margin-top: 2em;
  margin-bottom: 0em;
}
.logo{
  color: var(--orange);
  font-style: italic;
  display:flex;
  font-size: 5em;
  cursor:pointer;
}
.logo .fifty{
  font-weight: 600;
  margin:0;
}
.logo .songs{
  font-weight: 300;
  margin:0;
}
@media screen and (max-width: 700px) {
  .logo{
    font-size: 10vw;
  }
}
main.year .logo{
  font-size:1.7em;
  padding-bottom:0.6em;
}

.search-bar {
  border-bottom: 0.05em solid var(--light-grey);
  width: 35em;
}
@media screen and (max-width: 900px) {
  .search-bar{
    width: 100%;
  }
}
.search-bar input{
  background-color: transparent;
  border: none;
  width: 88%;
  font-family: 'Open Sans', sans-serif;
  color: var(--light-grey);
  font-size: 1.3em;
  font-weight: 300;
  padding:0.5em;
}
.search-bar input:focus{
  outline:none;
}
.search-bar input:invalid{
  color: var(--invalid-red);
}
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
      -webkit-appearance: none; 
      margin: 0; 
}
.search-bar a{
  text-decoration: none;
  color: var(--light-grey);
}
.search-bar a:hover{
  color: var(--orange);
}
.search-bar a span{
  font-size: 1.5em;
}
@media screen and (max-width: 1400px) {
  main.year .search-bar{
    display:none;
  }
}

div.player{
  display: none;
}
main.year div.player{
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
}
div.player audio:focus{
  outline:none;
}
div.player img{
  max-height: 100%;
  padding-left: 1em;
}

div.events-content{
  display:none;
}

main.year div.events-content{
  display:block;
}


