:root {
    --orange:#E27A3F;
    --dark-blue: #1B2530; 
    --very-dark-blue: #151D26;
    --dark-grey: #4D4D4D;
    --medium-grey: #999999;
    --light-grey: #F2F2F2; 
    --invalid-red: #DF4949;
  }
  
body{
   font-family: 'Open Sans', sans-serif;
   background-color: var(--very-dark-blue);
}

main{
  margin:0em 10em 0em;
}
@media screen and (max-width: 900px) {
  main{
    margin:0em 2em 0em;
  }
}

div.header{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 40vh;
  margin-top: 10em;
  margin-bottom: 8em;
}
main.year div.header{
  transition: all 0.5s ease;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: 6vh;
  margin-top: 2em;
  margin-bottom: 0em;
}
.logo{
  color: var(--orange);
  font-style: italic;
  display:flex;
  font-size: 5em;
  cursor: default;
}

.logo .fifty{
  font-weight: 600;
  margin:0;
}
.logo .songs{
  font-weight: 300;
  margin:0;
}
@media screen and (max-width: 700px) {
  .logo{
    font-size: 10vw;
  }
}
main.year .logo{
  cursor: pointer;
  font-size:1.7em;
  padding-bottom:0.6em;
  transition: all 0.1s ease;
}
main.year .logo:hover{
  transform: scale(1.05);
}
.search-bar {
  border-bottom: 0.05em solid var(--light-grey);
  width: 35em;
}
.search-bar.invalid{
  color: var(--invalid-red);
  border-bottom: 0.05em solid var(--invalid-red);

  -webkit-animation: swing 0.7s ease;
  animation: swing 0.7s ease;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
}
@media screen and (max-width: 900px) {
  .search-bar{
    width: 100%;
  }
}
.search-bar input{
  background-color: transparent;
  border: none;
  width: 88%;
  font-family: 'Open Sans', sans-serif;
  color: var(--light-grey);
  font-size: 1.3em;
  font-weight: 300;
  padding:0.5em;
}
.search-bar input:focus{
  outline:none;
}
.search-bar.invalid input{
  color: var(--invalid-red);
}
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
      -webkit-appearance: none; 
      margin: 0; 
}
.search-bar a{
  text-decoration: none;
  color: var(--light-grey);
}
.search-bar.invalid a{
  color: var(--invalid-red);
}
.search-bar a:hover{
  color: var(--orange);
}
.search-bar a span{
  font-size: 1.5em;
}
@media screen and (max-width: 1400px) {
  main.year .search-bar{
    display:none;
  }
}

div.player{
  display: none;
}
main.year div.player{
  display: flex;
  visibility: hidden;
  align-items: center;
  justify-content: space-between;
  height: 100%;
}
div.player audio:focus{
  outline:none;
}
div.player img{
  border-radius: 50%;
  max-height: 100%;
  margin-left: 1em;
  border: 0.2em solid var(--light-grey);
}

div.events-content{
  display:none;
}

main.year div.events-content{
  display:block;
}

.cd-horizontal-timeline .events-content li div.year-content{
  display: flex;
  flex-direction: row;
}

.cd-horizontal-timeline .events-content li h2{
  width: 10%;
  font-size: 13em;
  line-height: 0.8;
  font-weight: 700;
  color: var(--dark-blue);
  word-wrap: break-word;
  margin:0;
  cursor: default;
}

.cd-horizontal-timeline .events-content li div.info{
  display: flex;
  flex-direction: column;
  width: 70%;
  color: var(--light-grey);
  font-family: 'Open Sans', sans-serif;
}
.cd-horizontal-timeline .events-content li div.info h3{
  font-size:5em;
  font-weight: 700;
  margin: 0;
}
.cd-horizontal-timeline .events-content li div.info h4{
  font-size:2em;
  font-weight: 200;
  font-style: italic;
  margin: 0;
}
.cd-horizontal-timeline .events-content li div.info p{
  font-size:1.3em;
  font-weight: 200;
  color: var(--medium-grey);
  overflow: hidden;
  text-align: justify;
}


.cd-horizontal-timeline .events-content li div.media {
  display:flex;
  align-items: center;
  flex-direction: column;
  width: 20%;
  margin-left: 3em;
  justify-content: center;
}

.cd-horizontal-timeline .events-content li div.media img{
  max-width: 100%;
  border-radius: 50%;
}

.cd-horizontal-timeline .events-content li div.media input{
  width: 100%;
  margin-top: 1em;
  background: none;
  padding: 0.7em;
  font-family: 'Open Sans', sans-serif;
  font-size:1.2em;
  border-radius: 5em;
  cursor: pointer;
  transition: all .2s ease;
  opacity: 1;
  border: 0.1em solid var(--orange);
  color: var(--orange);
}
.cd-horizontal-timeline .events-content li div.media input:focus{
  outline:none;
}
.cd-horizontal-timeline .events-content li div.media input:hover{
  background: var(--orange);
  color: var(--light-grey);
}

/*TRANSITIONS*/
@-webkit-keyframes swing
{
    15%
    {
        -webkit-transform: translateX(7px);
        transform: translateX(7px);
    }
    30%
    {
        -webkit-transform: translateX(-7px);
       transform: translateX(-7px);
    } 
    50%
    {
        -webkit-transform: translateX(5px);
        transform: translateX(5px);
    }
    65%
    {
        -webkit-transform: translateX(-5px);
        transform: translateX(-5px);
    }
    80%
    {
        -webkit-transform: translateX(4px);
        transform: translateX(4px);
    }
    100%
    {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
}
@keyframes swing
{
    15%
    {
        -webkit-transform: translateX(7px);
        transform: translateX(7px);
    }
    30%
    {
        -webkit-transform: translateX(-7px);
        transform: translateX(-7px);
    }
    50%
    {
        -webkit-transform: translateX(5px);
        transform: translateX(5px);
    }
    65%
    {
        -webkit-transform: translateX(-5px);
        transform: translateX(-5px);
    }
    80%
    {
        -webkit-transform: translateX(4px);
        transform: translateX(4px);
    }
    100%
    {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
}



